.header {
	display: flex;
	justify-content: space-between;
	padding: 10px 10%;
	border-bottom: 1px solid white;
}

.logo {
	text-align: center;
}

.home-link {
	text-decoration: none;
	color: inherit;
}

.add-fish-button {
	padding: 10px 20px;
	border: none;
	border-radius: 10px;
	background-color: #75b585;
	font-size: 16px;
	color: inherit;
	cursor: pointer;
}

.add-fish-button:hover {
	background-color: white;
	color: #75b585;
}

.add-fish-button:active {
	color: #245eb6;
}
